/*tr.tableHeader {
    background-color: #d6af13;
}

.tableData {
    background-color: #b5b4b0;
}*/

.tableRow{
    border: 1px solid black;
    border-collapse: collapse;
}

.tableName a{
    color: black;
    transition: color 0.5s;
}

.tableName a:hover{
    color: grey;
}

td {
    font-weight: 500;
}

.tableDiv {
        display: flex;
        justify-content: center;
        padding-top: 88px;
        padding-bottom: 14px;
}
.categoryDiv {
        display: flex;
        font-size: 38px;
        background-color: darkslategrey;
        justify-content: center;
        margin: 0 auto;
        max-width: 781px;
}

.categoryDiv a{
    padding: 0 16px;
    color: white;
}

.categoryDiv a:hover{
    color: black;
    transition: color 0.5s;
}

