p.productName {
    background-color: darkslategrey;
        font-size: 46px;
        justify-content: center;
        display: flex;
        max-width: fit-content;
        margin: 0 auto;
        margin-bottom: 7px;
        margin-top: 7px;
        color: floralwhite;
        max-width: 43%;
}

p.description {
    font-size: 20px;
    justify-content: center;
    display: flex;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    margin-top: 7px;
    width: 30%;
}

p.price {
    font-size: 26px;
    display: flex;
    justify-content: right;
    padding-right: 160px;
}

.image {
    justify-content: center;
    display: flex;
    margin: 0 auto;
    }