<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/styles/css/defaultTableStyle.css}"/>
    <link rel="stylesheet" th:href="@{/styles/css/homeButton.css}"/>
    <style>
table, th, td {
  padding: 12px;
}
table{
  max-width: 700px;
}



    </style>
</head>
<body>
<div class="categoryDiv">
    <a th:each="category : ${categories}"
       th:text="${category}"
       th:href="@{/products/?category={c}(c=${category})}">
    </a>
</div>
<a th:insert="~{homeButton :: homeButton}"></a>
<div class="tableDiv">
    <table>
        <tr class="tableHeader">
            <th></th>
            <th>
                <a th:href="@{/products/{column}/{direction}/{lowestPrice}/{highestPrice}
                (
                column=name,
                direction=${product.direction},
                lowestPrice=0),
                highestPrice=999999}"></a></th>
            <th></th>
            <th></th>

        </tr>
        <tr class="tableRow" th:each="product : ${products}">
            <td><img th:src="${product.imageLink}" width="120" height="120"></td>
            <td class="tableName"><a
                    th:text="${product.name}"
                    th:href="@{/products/{id}(id=${product.id})}"></a></td>
            <td class="tableDescription" th:text="${product.description}"></td>
            <td th:text="${product.price} + '$'"></td>
        </tr>
    </table>
</div>
</body>
</html>